@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
}

a {
    text-decoration: none;
    color: slategrey;
}

li {
    list-style: none;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: lightgray;
}

.left-links, 
.right-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
